.admin .container {
    display: flex;
    flex-direction: column;
}

.admin input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.admin input:focus {
    outline: none;
}

.admin .ql-editor {
    min-height: 200px;
}

.file-input-container {
    position: relative;
    display: inline-block;
}

.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-container .file-input-button {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    cursor: pointer;
}

.admin .send{
    width: 100%;
    height: 40px;
    background-color: var(--b);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .admin .container {
        margin: 30px 20px;
    }
}