a {
    text-decoration: none;
    color: black
}

.publications {
    width: 360px;
    border-radius: 8px;
    border: 1px solid rgb(234, 234, 234);
    overflow: hidden;
    cursor: pointer;
}

.publications:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publications img {
    width: 360px;
    height: 270px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

/* Imagem aumenta quando passa o mouse */

.publications:hover img {
    transform: scale(1.2);
    transition: all 0.7s ease;
}

.publications p {
    margin: 0px !important;
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
    font-size: 18px;
    font-weight: 700;
}

.publications .text {
    margin-top: -5px;
    padding: 10px;
    width: 360px;
    background-color: white;
    z-index: 1;
    position: relative;
}

.publications span {
    font: 12px / 14px "Barlow";
    opacity: 0.7;
}

@media (max-width: 768px) {}