.Publications {
    padding: 50px;
}

.Publications img {
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

.Publications p{
    width: 400px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    word-break: break-word;
}

@media (max-width: 768px) {
    .Publications {
        padding: 20px;
        width: 100%;
    }
    .Publications img {
        width: 300px;
        height: 150px;
    }
    .Publications p{
        width: 300px;
        font-size: 16px;
    }
    
}