.header {
    position: sticky;
    top: 0;
    height: 70px;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 6px;
}

.header ul li {
    margin-left: 30px;
    cursor: pointer;
    height: 20px;
    border-bottom: 2px solid transparent;
}

.header ul li:hover {
    color: var(--b);
    border-bottom: 2px solid var(--b);
}

.header .logo{
    display: flex;
    align-items: center;
}

.header .logo img{
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header .logo-new{
    height: 20px;
    padding: 6px;
    font-size: 10px;
    background-color: #FD0200;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.header .logo-new:hover{
    background-color: #d70000
}

@media(max-width: 768px) {
    .header {
        padding: 0 30px;
    }
}