@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --b: #01212C;
  --p: #0f1923;
}

/* HOME */

.home,
.new {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  column-count: 4;
  column-gap: 1em;
  margin: 30px 60px;
  overflow-x: auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  padding-left: 60px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.display-flex,
.display-flex-center,
.grid-mobile {
  display: flex;
}

.display-flex-center {
  align-items: center;
}

@media(max-width: 768px) {
  .container {
    margin: 30px;
  }

  .read-more{
    padding: 10px 30px
  }

  .title {
    padding-left: 30px;
  }
}

/* NEW */

.new-minis {
  margin-right: 60px;
  height: 100%;
}

.new .container .display-block h1{
  font-size: 30px;
}

.new .container .display-block p{
  font-size: 20px;
}

.new .container{
  margin: 30px 100px;
}

@media(max-width: 768px) {
  .new-minis {
    margin: 30px;
  }

  .grid-mobile{
    display: grid !important;
  }
}