@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
}

#root {
  --b: #01212C;
  --p: #0f1923;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  column-count: 4;
  column-gap: 1em;
}

.title {
  font-size: 30px;
  font-weight: 700;
  padding-left: 60px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.display-flex {
  display: flex;
  align-items: center;
}